<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link href="https://cdn.bootcdn.net/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/alpinejs/2.8.0/alpine-ie11.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.12.0/toastify.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.12.0/toastify.min.js"></script>

    <!-- <link rel="stylesheet" th:href="@{/css/tailwind.min.css}" /> -->
    <title>Cook App</title>
</head>

<body>
    <div class="bg-gray-100 flex justify-center items-center h-screen">
        <!-- Left: Image -->
        <div class="w-1/2 h-screen hidden lg:block">
<!--            <img src="https://placehold.co/800x/667fff/ffffff.png?text=Your+Image&font=Montserrat"-->
<!--                alt="Placeholder Image" class="object-cover w-full h-full" />-->
            <!-- <img src="https://cdn.jsdelivr.net/gh/yinzhidong/echotc/stores/create-account.jpg"
                alt="Placeholder Image" class="object-cover w-full h-full" /> -->
            <img src="/imgs/2024/0408/create-account.jpg"
                alt="Placeholder Image" class="object-cover w-full h-full" />

        </div>

        <!-- Right: Login Form -->
        <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
            <!-- <h1 class="text-2xl font-semibold mb-4 text-center">Login</h1> -->
            <form x-data="loginForm()" @submit.prevent="submitForm">
                <!-- Username Input -->
                <div class="mb-4">
                    <label for="phone" class="block text-gray-600">Phone number</label>
                    <input type="text" id="phone" name="phone"
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off" x-model="formData.phone"/>
                </div>

                <!-- Password Input -->
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">Password</label>
                    <input type="password" id="password" name="password"
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" 
                        autocomplete="off"  x-model="formData.password" />
                </div>

                <!-- Login Button -->
                <button type="submit"
                    class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold rounded-md py-2 px-4 w-full text-whit" 
                    :disabled="formSubmitting" 
                    :class="formSubmitting ? 'opacity-50 cursor-not-allowed' : ''">Log in</button>
            </form>

            <!-- Sign up  Link -->
            <div class="mt-6 text-blue-500 text-center">
                <a href="./register" class="hover:underline">No account yet. Go register your account.</a>
            </div>
        </div>
    </div>
</body>


<script th:src="@{/js/cook.js}"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        echoUtil.isLogin() && echoUtil.goHome()
    })


    const loginForm = () => {
        return {
            formData: {
                password: '',
                phone: ''
            }
            , async submitForm() {
                // console.log(JSON.stringify(this.formData))

                if (echoUtil.isBlank(this.formData.phone))    {
                    echoToast.error('Cell phone number cannot be empty')
                    return
                }

                if (!echoUtil.isPhone(this.formData.phone))    {
                    echoToast.error('Incorrectly formatted cell phone number')
                    return
                }
                if (echoUtil.isBlank(this.formData.password))    {
                    echoToast.error('Password cannot be empty')
                    return
                }

                this.formSubmitting = true
                await window.echoLogin.login(this.formData.phone, this.formData.password)
                    .then(response => {
                        // console.log('response=', response)
                        const {accessToken, username} = response
                        localStorage.setItem('accessToken', accessToken)
                        localStorage.setItem('profile', JSON.stringify({username, phone: this.formData.phone}))
                        
                        location.href = echoUtil.getAppUrl('/cook/home')
                    })
                    .finally(() => {
                        this.formSubmitting = false
                    })
            }
            , formSubmitting: false
        }
    }
</script>
</html>
